* {
  margin: 0;
  padding: 0;
}

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

$baseColor: #72569d;
$colorWhite: white;
$textBaseColor: #1e1451;

$bgColorWhite: white;
$linerGrad: linear-gradient(325deg, #fff3ea, transparent);

li {
  list-style: none;
  a {
    text-decoration: none;
  }
}

a {
  text-decoration: none;
}

body{
  background:#f8f5f561;
}

@mixin flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flexWrap {
  flex-wrap: wrap;
}

.btns:hover {
  opacity: 80%;
}
.mybtn {
  padding: 12px 25px;
  border: none;
  border-radius: 24px;
  margin: 9px 11px 2px 0px;
}
.btnBase {
  background: $baseColor;
  color: $colorWhite;
}
.loginBtn {
  padding: 4px 18px;
  margin: 1px 1px 0 1px;
  border: none;
  border-radius: 13px;
  background: $colorWhite;
  margin-left: 18px;
}

.main-container {
  /////prent
  .project-container {
    .header-dashboard-wrapper {
      background: $linerGrad;

      .header {
        //top mneu parent

        padding: 10px 1rem;
        .menu-wrapper {
          @include flexbox;
          justify-content: space-evenly;
          border-bottom: solid #f4efefa6;
          .menubar {
            ul {
              @include flexbox;
              li {
                margin: 0px 12px;
                a {
                  color: $textBaseColor;
                }
              }
            }
          }
          .login-wrapper {
            @include flexbox;
          }
          & > * {
            margin: 0 15px;
          }
        }
        //menu wrapper section ends
      }
      //dashboard wrapper start
      .dashboard-section {
        @include flexbox;
        padding-bottom: 46px;
        .details-action-container {
          width: 70%;
          .details-action-wrapper {
            width: 60%;
            justify-content: space-around;
            padding: 0 1rem;
            margin: 0 auto;
            .video-call{
              color: $baseColor;
              text-decoration: underline !important;
            }
            h2 {
              font-size: 50px;
              font-weight: 700;
            }
            p {
              margin: 25px 0;
            }
          }
        }

        .dr-image-wrapper {
          width: 22%;
          position: relative;
          .img-wrapper {
            max-width: 238px;
            img {
              max-height: 415px;
            }
          }

          .doctors-online-box-wrapper {
            background: white;
            width: 153px;
            position: absolute;
            bottom: 24rem;
            right: 58%;
            border-radius: 6px;
            padding: 7px 13px;
            @include flexbox;
            span{
              font-size: 10px;
              margin-left: 8px;
            }
           img{
             max-height: 15px;
           }
          }
        }
      }
    }
    //dashboard end
    //with boxes
    .trust-us-section {
      .heading-wrapper {
        text-align: center;
        margin: 4rem 0
      }

      .boxes-wrapper {
        @include flexbox;
        .boxes {
          width: 30%;
          text-align: center;
          background: #eaeaea3d;
          border-radius: 21px;
          padding: 19px;
          margin: 0 15px;
          h3{
            font-size: 20px;
            font-weight: 600;
          }
          & > * {
            margin: 10px 0;
          }
          &:hover {
            background: white;
          }
        }
      }
    }
    //trust us section ends
    //online chat doctor
    .start-online-chat-section {
      display: flex;
    padding: 17px 8px;
      @include flexbox;
      .img-chat-wrapper {
        width: 60%;
        position: relative;
        .img-wrapper {
          max-width: 400px;
          img {
            width: 100%;
          }
        }
        .chat-wrapper {
          width: 40%;
          border-radius: 7px;
          position: absolute;
          font-size: 10px;
          left: 339px;
          top: 34px;
         
          .chat {
            padding: 10px;
            background: white;
            border-bottom: solid #d6d1d124;
            @include flexbox;
            & >*{
              margin: 0 5px;
            }
          }
          .dr-chat {
            flex-direction: row-reverse;
          }
        }
      }
      //cunsult doctor icon label
      .consult-doctor-details-wrapper {
        width: 40%;
        .input-action-wrapper {
          @include flexbox;
          flex-wrap: wrap;
          .checkbox-and-icon-wrapper {
            @include flexbox;
            width: 36%;
            margin: 1rem;
            .label-wrapper {
              width: 100%;  
              border-radius: 26px;
              padding: 7px 17px;
              cursor: pointer;
              margin: 0 10px;
              background: white;
              box-shadow: 0px 1px 13px 3px #e9e7e7;
              .icon-and-title-wrapper {
                @include flexbox;
              }
              .icon-wrapper {
                margin-right: 10px;
                span {
                  color: $textBaseColor;
                }
              }
            }
          }
        }
        ////// baseColor
        .start-chat-consult-btn-wraper {
          margin: 1rem 0;
          button {
            background: $baseColor;
            color: white;
          }
        }
      }
    }
    //////////////////////////consultation
    .consulting-specialist-section {
      background: #ffeadb87;

      .small-boxes-wrapper {
        @include flexbox;
        @include flexWrap;
        justify-content: center;
        .boxes-sm {
          width: 14%;
          border-radius: 8px;
          background-color: white;
          text-align: center;
          padding: 10px;
          margin: 13px;
          &:hover {
            opacity: 80%;
          }
          h5 {
            font-size: 14px;
          }
          & > * {
            margin: 10px 0;
          }
        }
      }
    }
    ////////our-recent-articles-section
    .our-recent-articles-section {
      .articles-wrapper {
        @include flexbox;
        @include flexWrap;
        .article-box {
          width: 30%;
          margin: 0 10px;
          position: relative;

          .article-img {
            height: 250px;
            border-radius: 8px 8px 0 0;
          }
          //articles records
          .articles-records-wrapper {
            background-color: $colorWhite;
            height: 35px;
            max-width: 187px;
            position: absolute;
            top: 13rem;
            left: 12px;
            border-radius: 4px;
            padding: 2px 13px;
            @include flexbox;
            & > * {
              margin: 0 5px;
            }
            span {
              font-size: 10px;
              margin: 0px 3px;
            }
          }
          .article-texts-wrapper {
            padding: 7px 9px;
            padding-bottom: 72px;
            margin: 1rem 0;
            h4{
              margin: 1rem 0;
              font-size: 20px
            }
          }
          //doctor
          .doctor-details-wrapper {
            @include flexbox;
            margin: 10px 0;
            display: flex;
            justify-content: space-between;
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            border-top: solid 1px #dddddd54;
            padding-top: 20px;
            .about-doctor-wrapper {
              @include flexbox;
              padding: 5px 0px 0px 11px;
              .doctor-name-position {
                margin-left: 26px;
              }
              .doctor-dp-wrapper {
                max-width: 60px;

                img {
                  width: 100%;
                }
              }
            }
          }
          ////
          .three-dots-menu {
            button {
              background-color: rgba(255, 255, 255, 0);
              border: none;
            }
          }
        }
      }
    }
    ///////////////////footer starts

    //////
  }
}
.footer {
  padding: 3rem 1rem;
  @include flexbox;
  background: $linerGrad;
  .about-webpage-wrapper {
      width: 34%;
    .text-wrapper{
      width: 80%;
    }
    .app-store-wrapper {
      width: 15%;
      @include flexbox;
      .apps-btn-wrapper {
        width: 9rem;
        border-radius: 23px;
        @include flexbox;
        padding: 4px 11px;
        & > * {
          margin: 0px 4px;
        }
        .social-icon-wrapper {
          img {
            max-height: 25px;
            filter: invert(1);
          }
        }
        .social-name-wrapper {
          font-size: 6px;
          .app {
            font-size: 11px;
          }
          span {
            display: block;
          }
        }
      }
    }
  }
  ul{
    li{
      margin: 5px 0;
      a{
        color: black;
      }
    }
  }
 
}

//for reuse
.div-align {
  margin: 0 auto;
}

section {
  margin-top: 5rem;
  padding: 0rem 1rem;
}

.padding-t-b {
  padding: 3rem 0;
}
//for div align
.about-text-wrapper-all {
  width: 36%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3rem;
}

.dp-wrapper-all {
  //max-width: 58px;
  img {
    border-radius: 51%;
    height: 53px;
  }
}

.color-white {
  color: white;
}
.color-red {
  color: red;
}

.all-type-dr {
  border-radius: 5px;
  border: none;
  margin: 7px;
  padding: 4px 4px;
  font-size: 12px;
}

.bg-grey {
  background-color: #b6b6b691;
}

.applelogo {
  background: $baseColor;
  color: $colorWhite;
}

.google-playlogo {
  background: $colorWhite;
  color: black;
}
