


 $baseColor: #72569d;
 $colorWhite: white;
 $textBaseColor: #1e1451;
 
 $bgColorWhite: white;
 $linerGrad: linear-gradient(325deg, #fff3ea, transparent);
/************** color *************/
$colorGrey: #878787c2;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$base-font:'Roboto', sans-serif;
// font size
$regular-font: 16px;
$primary-font: 15px;
$secondary-font: 14px;


